/* * {
    border: 1px solid ;
} */

html, body {
    background-color: #0F172B;
    color: #94a3b8;
    font-weight: 200;
    font-family: "Roboto Flex", sans-serif, Helvetica, Arial, sans-serif;
}

p { 
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between
}

header button {
    justify-self: end;
    cursor: pointer;
    height: 45px;
    margin: 30px;
    background: none;
    border: none;
    color: #E2E8F0;
    font-size: 24px;
    font-weight: bold;

}

header h1 {
    padding-left: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 42px;
    color: #E2E8F0;
    letter-spacing: 4px;

}

.main-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  
}

.section1 {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.about {
    font-weight: bold;
    font-size: 22px;
    color: #E2E8F0;
    margin-top: 30px;
    text-align: center;
}
.intro {
    width: 30%;
    height: 300px;
    width: 700px;
    justify-self: center;
    margin-top: -5px;
}

.section2 {
    margin-top: 20px;
    height: 200px;
}

.section2 .title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #E2E8F0;
}

.tech-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    width: 700px;
    justify-self: center;

}

.tech-container p {
    text-align: center;
    color: #E2E8F0;
    font-size: 14px;
    font-weight: bold;
}
.tech-container svg {
    height: 60px;
    width: 60px;
    margin-left: 20px;

}

.section3 {
  margin-top: -140px;
}
.section3 .title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #E2E8F0;

}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 900px;
    justify-self: center;
}

.portfolio-container > div {
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 700px;
}

.portfolio-container > div:hover {
    border-style: groove;
    border: 1px solid #e2e2e213 ;
    background-color: #e2e2e213;
    border-radius: 8px;
}

.project1 .right {
    margin-left: -120px;
}

.right button {
    background-color: #142C3F;
    color: #5CE2D3;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
    text-align: center;
    margin-right: 3px;


}

.project-title {
    font-weight: bold;
    color: #DEE4EE;
}


.project1 .left img {
   margin-top: 20px;
   border-radius: 5px;
   border: 3px solid #e2e2e213 ;

}

footer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

footer p {
    justify-self: end;
    margin-right: 10px;
    color: white;
}

#my-div {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #2559de;
    transform: translate(-50%, -50%);
    opacity: 10%;
    border-radius: 80%;
    backface-visibility: hidden;
    z-index: 1;
    filter: blur(99px);
     pointer-events: none;
}
