/* * {
    border: 1px solid ;
} */

html, body {
    background-color: #0F172B;
    color: #94a3b8;
    font-weight: 200;
    font-family: "Roboto Flex", sans-serif, Helvetica, Arial, sans-serif;
}

p { 
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}

svg {
   
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  
}

.section1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.intro {
    width: 30%;
    justify-self: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

footer p {
    justify-self: end;
    margin-right: 10px;
}